{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exportshipping</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exportShipping.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ exportShipping.createdAt }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ exportShipping.file }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('exportshipping_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('exportshipping_edit', { 'id': exportShipping.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
